body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #121212;
    color: #ffffff
}

h1 {
    text-align: center;
}

#menu {
    top: 12%;
    position: relative;
}

#menu .nav-link {
    background-color: #121212;
    color: #ffffff;
    margin: 0.5rem;
    border: 2px solid #7d0f44;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
    transition: border 0.3s ease;
}

#menu .nav-link:hover {
    background-color: #7d0f44;
    border: 2px solid #12a2c9;
    color: #ffffff;
}

#gallery {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

#image1 {
    position: absolute;
    top: 20%;
    left: 13%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image1:hover {
    border: 2px solid #7d0f44;
}

#image2 {
    position: absolute;
    top: 20%;
    left: 33%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image2:hover {
    border: 2px solid #7d0f44;
}

#image3 {
    position: absolute;
    top: 20%;
    left: 53%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image3:hover {
    border: 2px solid #7d0f44;
}

#image4 {
    position: absolute;
    top: 20%;
    left: 73%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image4:hover {
    border: 2px solid #7d0f44;
}

#image5 {
    position: absolute;
    top: 60%;
    left: 13%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image5:hover {
    border: 2px solid #7d0f44;
}

#image6 {
    position: absolute;
    top: 60%;
    left: 33%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image6:hover {
    border: 2px solid #7d0f44;
}

#image7 {
    position: absolute;
    top: 60%;
    left: 53%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image7:hover {
    border: 2px solid #7d0f44;
}

#image8 {
    position: absolute;
    top: 60%;
    left: 73%;
    max-height: 30%;
    max-width: 30%;
    border-radius: 100px;
    border: 2px solid #12a2c9;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transition: border 0.3s ease;
}

#image8:hover {
    border: 2px solid #7d0f44;
}


